[submodule "submodules/KiBoM"]
	path = submodules/KiBoM
	url = git@github.com:INTI-CMNB/KiBoM.git
[submodule "submodules/kicad-git-filters"]
	path = submodules/kicad-git-filters
	url = git@github.com:INTI-CMNB/kicad-git-filters.git
[submodule "submodules/PcbDraw-Lib"]
	path = submodules/PcbDraw-Lib
	url = git@github.com:INTI-CMNB/PcbDraw-Lib.git
[submodule "submodules/PcbDraw"]
	path = submodules/PcbDraw
	url = git@github.com:INTI-CMNB/PcbDraw.git
[submodule "submodules/kiplot"]
	path = submodules/kiplot
	url = https://github.com/nerdyscout/kiplot.git
[submodule "submodules/kicad-automation-scripts"]
	path = submodules/kicad-automation-scripts
	url = git@github.com:INTI-CMNB/kicad-automation-scripts.git
[submodule "submodules/InteractiveHtmlBom"]
	path = submodules/InteractiveHtmlBom
	url = git@github.com:INTI-CMNB/InteractiveHtmlBom.git
